.li-activities{
float:left;
}
li {
  border-right: 1px solid #bbb;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(7, 5, 75);
}

.ul:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0, 0.253)!important;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transform: scale(1);
    transition: transform 0.5s ease;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(1, 10, 41);
  transform: scale(1.8);
}


.Activity{
  float: right;
}

.Activity link{
  float: right;

}